<tr>
  <td>
    <%= venue.name %>
  </td>
  <td>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal<%= venue.id %>">
      open map
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal<%= venue.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= venue.name %></h4>
          </div>
          <div class="modal-body">
            <img data-src="https://maps.googleapis.com/maps/api/staticmap?center=<%= venue.latitude%>,<%= venue.longitude%>&zoom=16&size=300x300&maptype=roadmap&markers=size:mid%7Clabel:<%= venue.name %>%7C<%= venue.latitude%>,<%= venue.longitude%>&key=AIzaSyAISFPFF6X8bYHKVa0yaKQegdLGJVdbI-8" />
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>